:root{
    --giwidth:30px;
    --giheight:30px;
    --sketch:500.21px;
}

h1{
    text-align: center;
    color:black;
}
.flex-box{
    display: flex;
    height: fit-content;
    justify-content: center;
}
.flex-box > button{
    margin-left:5px;
    margin-right: 5px;
}
.sketch-box{
    display: flex;
    flex-wrap: wrap;
    width:var(--sketch);
    height:var(--sketch) ;
    border-style: solid;
    overflow: hidden;
     
}

.grid-item{
    padding: 0px;
    margin: 0px;
    border-width: 0px;
}
input{
    cursor: pointer;
}
input[type=color]{
    width:100px; 
    height: 38px;
}

.slider{
    margin:10px;
    background: grey;
    width:300px;

}
.slider:hover {
    opacity: 1;
  
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #000503;
    cursor: pointer;
  }
img{
    max-height:100px;
    padding:5px;
    max-width: 100%;
}
button{
    width: 200px;
    height: fit-content;
    border-style: solid;
    cursor: pointer;
    
}
#clear{
    background-color: red;
    color: white;
    font-size: 30px;
    border-radius: 10px;

}
span{
    color: gray;
    font-weight: bold;
    font-size: 30px;
    margin-top:5px;
}
footer{
    font-size: 25px;
    color: #787878;
    margin-top:35px;
    text-align: center;
    
}
footer >a{
    text-decoration: none;
    color: #787878;
}
footer >a:hover{
   color: black;
}